<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="post-list-header">Pricing</h1>
                <p class="center">Our prices are per child.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-5 center">
                <h2>Per day</h2>
                <p><strong>£50</strong><br />from 10.00am until 3.15pm</p>
            </div>
            <div class="col-2 center hidden-sm">
                <div class="separator-vertical"></div>
            </div>
            <div class="col-5 center">
                <h2>Per week (5 days)</h2>
                <p>
                    <strike>£250</strike> <strong>£195</strong> with "full week" discount<exp>*</exp>
                </p>
                <p class="txt-light">
                    <small><exp>*</exp> We apply a "full week" discount policy only.<br />Unfortunately no family discount is available yet.</small>
                </p>
            </div>
        </div>
    </div>
</section>
