---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

    {% include head.html %}

    <body class="site">

        {% if site.google_tag_manager %}

            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->

        {% endif %}

        {% include header.html %}

        <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/ashton-bingham-113943_lg.jpg">
            <div class="hero__wrap">
                <h1 class="hero__title">Holiday play-schemes for children in London</h1>
                <p class="hero__meta">
                    We are on a mission to offer various holiday camps in London for kids from 6 years old
                    (primary school) up to 14 years old (secondary school).<br />
                    <br />
                    Our camps include activities which have rich and clear educational goals, seriously
                    supervised with great enthusiasm! 😀<br />
                    Our team speaks both 🇬🇧 English and 🇫🇷 French!
                </p>
                <hr />
                <p class="hero__meta">
                    <br />You want to be aware about our upcoming camps? Simply subscribe to our newsletter and we'll make sure to always keep you in the loop!<br />
                    <br />
                    <button class="btn" id="subscribe-newsletter">
                        <i class="fas fa-envelope"></i>&nbsp;Keep me in the loop!
                    </button>
                </p>
            </div>
        </div>

        <main class="site__content">

            {% include pricing.html %}

            <section class="bg-alt">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1 id="programs" class="post-list-header">Our Programs</h1>
                            <p class="center">
                                <strong>🎉 NEW</strong> We now offer camps for both <u>primary</u> and <u>secondary</u> school ages.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 center">
                            <h2 class="txt-success">Primary</h2>
                            <p>from 6 to 11 years old</p>
                            <p>
                                Every week our program is different and can be adjusted depending on various things like the weather, the children, the attendance for example ; but here is a downloadable version of a typical program for primary school children, take a peek!<br />
                                <br />
                                <a href="https://goo.gl/kh5hAL" class="btn btn-small btn-success" target="_blank">Holicamp Primary - Program Sample</a>
                            </p>
                        </div>
                        <div class="col-6 center">
                            <h2>Secondary</h2>
                            <p>from 11 to 15 years old</p>
                            <p>
                                For secondary school children, our camps are a bit more organised around sport activities like frisbee, baseball, dodgeball, football or tennis while keeping core activities like yoga, fitness, handball or badminton too.<br />
                                <br />
                                <a href="https://goo.gl/fVgwLX" class="btn btn-small" target="_blank">Holicamp Secondary - Program Sample</a>
                            </p>
                        </div>
                        <div class="col-12 center">
                            <p>Find out more information about our programs from <a href="{{ '/about#what-is-the-program' | relative_url }}" itemprop="url">our about page</a>.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-alt">
                <div class="container">
                    <h2 class="post-list-header">📅&nbsp;&nbsp;Easter 2019</h2>
                    <p class="center">
                        <strong>OUTDOOR</strong>
                    </p>
                    <div class="post-list">
                        {% for post in site.categories.easter_2019 %}
                            {% include card.html %}
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <h2 class="post-list-header">📅&nbsp;&nbsp;Summer half-term 2019</h2>
                    <div class="post-list">
                        {% for post in site.categories.summer_ht_2019 %}
                            {% include card.html %}
                        {% endfor %}
                    </div>
                </div>
            </section>

            <section class="bg-alt">
                <div class="container">
                    <h2 class="post-list-header">📅&nbsp;&nbsp;Summer 2019</h2>
                    <div class="post-list">
                        {% for post in site.categories.summer_2019 %}
                            {% include card.html %}
                        {% endfor %}
                    </div>
                </div>
            </section>

        </main>

        {% include footer.html %}

        <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
        <script type="text/javascript">
            function showMailingPopUp() {
                window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"8bb9cec54e0b933e8f01a0b7a","lid":"5365fd5159","uniqueMethods":true}) });
                document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            };
            document.getElementById("subscribe-newsletter").onclick = function() { showMailingPopUp(); };
        </script>


    </body>

</html>
