---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

    {% include head.html %}

    <body class="site">

        {% if site.google_tag_manager %}

            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->

        {% endif %}

        {% include header.html %}

        <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/ashton-bingham-113943_lg.jpg">
            <div class="hero__wrap">
                <h1 class="hero__title">Holiday play-schemes for children in London</h1>
                <p class="hero__meta">
                    We are on a mission to offer various holiday camps in London for kids from 6 years old
                    (primary school) up to 14 years old (secondary school).<br />
                    <br />
                    Our camps include both indoors and outdoors activities which have rich and clear educational goals, seriously
                    supervised with great enthusiasm!<br />
                    <br />
                    Our team speaks both 🇬🇧 English and 🇫🇷 French!
                </p>
                <hr />
                <p class="hero__meta">
                    <br />
                    ✉️&nbsp;&nbsp;<strong>Newsletter:</strong> you want to be aware about our upcoming camps? Simply subscribe and we'll make sure to always keep you in the loop!<br />
                    <br />
                    <button class="btn" id="subscribe-newsletter">Subscribe</button>
                </p>
            </div>
        </div>

        <main class="site__content">

            {% include home/pricing.html %}

            {% include home/camps-description.html %}

            {% include home/covid.html %}

            <a id="booking"></a>

            <section class="bg-light">
                <div class="container">
                    <h2 class="post-list-header">📅&nbsp;&nbsp;Autumn Half Term 2020</h2>
                    <div class="post-list">
                        {% for post in site.categories.autumn_ht_2020 %}
                            {% include home/camp.html %}
                        {% endfor %}
                    </div>
                </div>
            </section>

        </main>

        {% include footer.html %}

        <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
        <script type="text/javascript">
            function showMailingPopUp() {
                window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"8bb9cec54e0b933e8f01a0b7a","lid":"5365fd5159","uniqueMethods":true}) });
                document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
            };
            document.getElementById("subscribe-newsletter").onclick = function() { showMailingPopUp(); };
        </script>


    </body>

</html>
