---
layout: compress
---
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{site.url}}/assets/img/posts/ashton-bingham-113943_lg.jpg">
      <div class="hero__wrap">
        <h1 class="hero__title">Holicamp</h1>
        <p class="hero__meta">Our mission is to offer various holiday camps in London, including activities which have rich and clear educational goals, seriously supervised with enthusiasm!</p>
        <hr />
        <p class="hero__meta">
          You want to be informed regarding our upcoming sessions?<br />
          Simply get in touch with us and we'll make sure to keep you in the loop!<br />
          <br />
          <a href="{{ '/contact' | relative_url }}" class="btn">get in touch</a>
        </p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="post-list-header">Pricing <small>(per child)</small></h1>
              <hr />
            </div>
          </div>
          <div class="row">
            <div class="col-6 center">
              <h2>Per day</h2>
              <p><strong>£45</strong></p>
            </div>
            <div class="col-6 center">
              <h2>Per week</h2>
              <p><strike>£225</strike> <strong>£180</strong> with "full week" discount</p>
            </div>
          </div>
        </div>
      </section>
      <section class="blog">
        <div class="container">
          <h1 class="post-list-header">Book Online - Upcoming Sessions</h1>
          <hr />
          <div class="post-list">
            {% for post in site.categories.camps %}
              {% include card.html %}
            {% endfor %}
            <!-- {% for post in site.categories.blog %}
              {% include card.html %}
            {% endfor %} -->
            <!-- {% include pagination.html %} -->
          </div>
        </div>
      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
