<a id="programs"></a>
<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-6 center">
                <br />
                <br />
                <h2 class="txt-success">Primary</h2>
                <p>from 6 to 11 years old</p>
                <p>
                    Every week our program is different and can be adjusted depending on various things like the
                    weather, the children, the attendance for example ; but here is a downloadable version of a typical
                    program for primary school children, take a peek!<br />
                    <br />
                    <a href="https://goo.gl/kh5hAL" class="btn btn-small btn-success" target="_blank">Holicamp Primary - Program Sample</a>
                </p>
            </div>
            <div class="col-6 center">
                <br />
                <br />
                <h2>Secondary</h2>
                <p>from 11 to 15 years old</p>
                <p>
                    For secondary school children, our camps are a bit more organised around sport activities like
                    frisbee, baseball, dodgeball, football or tennis while keeping core activities like yoga, fitness,
                    handball or badminton too.<br />
                    <br />
                    <a href="https://goo.gl/fVgwLX" class="btn btn-small" target="_blank">Holicamp Secondary - Program Sample</a>
                </p>
            </div>
            <div class="col-12 center">
                <p>
                    Find out more information about our programs from <a href="{{ '/about#what-is-the-program' | relative_url }}" itemprop="url">our about page</a>.
                </p>
                <br />
                <br />
            </div>
        </div>
    </div>
</section>
