<section class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-3">&nbsp;</div>
            <div class="col-6">
                <br /><br />
                <h2 class="center">😷&nbsp;&nbsp;COVID19 Health and safety</h2>
                <p>Holicamp takes all measures to avoid the risk of COVID19 propagation for both outdoor and indoor camps:</p>
                <ol>
                    <li>Washing hands at the start/end of the day</li>
                    <li>Washing hands after each activity</li>
                    <li>Adapted activities according to the situation</li>
                </ol>
                <h3 class="center">⚠️&nbsp;&nbsp;Cancelation warning</h3>
                <p>One or more days could be canceled and refunded depending on the ongoing situation and potentially new regulations.</p>
                <br /><br />
            </div>
        </div>
    </div>
</section>
