html {
  box-sizing: border-box;
}

body {
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//sticky footer
.site {
  overflow: auto;
  display: block;
  min-height: 100vh;
}

// responsive images
img {
  max-width: 100%;
  height: auto;
  width: auto;
  vertical-align: middle;

  &::selection {
    background: transparent;
  }
}

// responsive maps
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin-bottom: 1.25rem;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

figure {
  margin: 0;
}
